@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2em;
  color: #6A3381;
  text-align: center;
  background-color: #F2E7F9;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.25em;
  color: #6A3381;
}

.min-height {
  min-height: 100vh;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  margin: 0;
  padding: 0;
}

.nav {
  z-index: 5;
  position: fixed;
  margin: 0;
  padding: 0.938em;
  text-align: left;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.5em;
  color: #ffffff;
  background-color: rgba(195, 149, 232, 0.3);
  -webkit-box-shadow: 0 0.25em 0.625em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25em 0.625em rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(0.625em);
          backdrop-filter: blur(0.625em);
}
.nav img {
  vertical-align: middle;
  padding-left: 0.939em;
  height: 1.25em;
  float: right;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
}
.nav a span {
  font-weight: 700;
}

.footer {
  background-color: #6A3381;
  color: #ffffff;
  padding: 2em 6em 1.5em;
  font-size: 0.5em;
  line-height: 0.7em;
}
.footer .left-text {
  margin: auto 0;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.nav-list li {
  margin: 0;
  padding: 0 0.313em 0 0.313em;
  display: inline-block;
}
.nav-list li :hover {
  font-weight: 700;
}
.nav-list li a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: block;
  color: #ffffff;
}

.header {
  background-image: url("../imgs/PuntoVioleta_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
}
.header div {
  padding: 40vh 0 0 0;
  background: rgba(91, 43, 111, 0.3);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.header div h2 {
  font-weight: 400;
  font-size: 0.938em;
  color: #ffffff;
}
.header div h1 {
  font-weight: 700;
  font-size: 3em;
}
.header section {
  padding: 0.938em;
  position: fixed;
  bottom: 0;
  left: 0;
}
.header section img {
  display: block;
  height: 1.5em;
  margin-top: 0.313em;
}

.btn-up {
  padding: 0.938em;
  position: fixed;
  bottom: 0;
  right: 0;
}
.btn-up img {
  display: block;
  height: 1.5em;
}

.quienes-somos {
  margin: 0;
  padding: 2.5em 5em;
}
.quienes-somos h3 {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.938em;
  color: #6A3381;
}
.quienes-somos p {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.5em;
  color: #6A3381;
  line-height: 2em;
}
.quienes-somos img {
  margin: 1em auto;
  padding: 0;
  width: auto;
  height: 1.5em;
}
.quienes-somos .row {
  padding-bottom: 1em;
}
.quienes-somos .col-4 {
  margin: 0 auto;
  padding: 0.938em;
  width: 30%;
  background-color: #DABEF1;
  border-radius: 0.8em;
}

.testimonios {
  padding: 3em 1em;
  background-color: #DABEF1;
}
.testimonios h2 {
  margin: 0 0 1em;
  padding: 0;
}
.testimonios .col-1 {
  margin: auto;
  padding: 0;
  height: 100%;
}
.testimonios .col-1 span {
  display: block;
  margin: auto;
  width: 2em;
  height: 2em;
}
.testimonios .col-4 {
  margin: 0 auto;
  padding: 0.938em;
  width: 30%;
  background-color: #F2E7F9;
  border-radius: 1.5em;
}
.testimonios .col-4 span {
  display: block;
  margin: 1em auto 0 auto;
  padding: 0;
  border-radius: 100%;
  width: 4em;
  height: 4em;
  overflow: hidden;
}
.testimonios .col-4 span img {
  width: 100%;
}
.testimonios .col-4 .row p {
  font-size: 0.5em;
  margin: 0;
  padding-bottom: 4em;
}
.testimonios .cita {
  display: block;
  margin: 2em 0;
  padding: 0;
  height: 30%;
  font-size: 0.5em;
  font-family: "Raleway";
  font-style: italic;
}

.contacto {
  margin: 0;
  padding: 2.5em 5em;
}
.contacto h3 {
  font-size: 0.7em;
}
.contacto .col-6 {
  margin: 0;
  padding: 0 1em;
}
.contacto .col-6 form input {
  display: block;
  margin: 0.938em 0;
  padding: 0.1em 0.5em;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.7em;
  color: #C27EDF;
  background: none;
  border: 0.07em solid #C27EDF;
  border-radius: 1em;
  width: 100%;
}
.contacto .col-6 form input:focus {
  outline: none !important;
  border: 0.07em solid #6A3381;
}
.contacto .col-6 form input::-webkit-input-placeholder {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.8em;
  color: #C27EDF;
}
.contacto .col-6 form input::-moz-placeholder {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.8em;
  color: #C27EDF;
}
.contacto .col-6 form input:-ms-input-placeholder {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.8em;
  color: #C27EDF;
}
.contacto .col-6 form input::-ms-input-placeholder {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.8em;
  color: #C27EDF;
}
.contacto .col-6 form input::placeholder {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.8em;
  color: #C27EDF;
}
.contacto .col-6 form textarea {
  display: block;
  margin: 0.938em 0;
  padding: 0.5em;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.7em;
  color: #C27EDF;
  background: none;
  border: 0.07em solid #C27EDF;
  border-radius: 1em;
  width: 100%;
}
.contacto .col-6 form textarea::-webkit-input-placeholder {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.8em;
  color: #C27EDF;
}
.contacto .col-6 form textarea::-moz-placeholder {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.8em;
  color: #C27EDF;
}
.contacto .col-6 form textarea:-ms-input-placeholder {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.8em;
  color: #C27EDF;
}
.contacto .col-6 form textarea::-ms-input-placeholder {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.8em;
  color: #C27EDF;
}
.contacto .col-6 form textarea::placeholder {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.8em;
  color: #C27EDF;
}
.contacto .col-6 form textarea:focus {
  outline: none !important;
  border: 0.07em solid #6A3381;
}
.contacto .col-6 form button {
  display: block;
  margin: 0.938em 0;
  padding: 0.5em;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 0.7em;
  color: #C27EDF;
  background: #FCF9FF;
  border: 0.07em solid #C27EDF;
  border-radius: 1em;
  width: 100%;
  text-transform: uppercase;
}
.contacto .col-6 form button:hover {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 0.7em;
  color: #FCF9FF;
  background: #C27EDF;
}
.contacto .col-6 .card-contacto {
  margin: 0.65em 0 0.938em;
  padding: 1em;
  background: #FCF9FF;
  border-radius: 1em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.contacto .col-6 .card-contacto .row {
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.contacto .col-6 .card-contacto .row span {
  display: inline-block;
  margin: 0;
  height: 1.5em;
  width: 1.5em;
}
.contacto .col-6 .card-contacto .row p {
  font-size: 0.6em;
  display: inline-block;
  margin: auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #C27EDF;
}
.contacto .col-6 .card-ubicacion h3 {
  margin: 0em 0 1em;
  text-align: left;
  width: 100%;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 0.7em;
  color: #C27EDF;
}
.contacto .col-6 .card-ubicacion span {
  display: block;
  overflow: hidden;
  border-radius: 1em;
}
.contacto .col-6 .card-ubicacion span img {
  width: 100%;
}