@import "colores";
@import "media_queries";
@import "utilidades";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

$regular: 400;
$bold: 700;

//TAGS
body {
    margin: 0;
    padding: 0;
    @include set_text ('Raleway', 400, 2em, $moradoBase);
    text-align: center;
    background-color: $moradoClaro;
}
h2{
    margin: 0;
    padding: 0;
    @include set_text("Raleway", $bold, 1.25em, $moradoBase);
}
//CLASES
.min-height{
    min-height: 100vh;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.row{
    margin: 0;
    padding: 0;
}
.col{
    margin: 0;
    padding: 0;
}
.nav{
    z-index: 5;
    position: fixed;
    margin: 0;
    padding: .938em;
    text-align: left;
    width: 100%;
    height: fit-content;
    @include set_text ('Raleway', 400, 0.5em, #ffffff);
    
    background-color: rgba($color: #c395e8, $alpha: 0.3);
    box-shadow: 0 .25em .625em rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(.625em);

    img{
        vertical-align: middle;
        padding-left: .939em;
        height: 1.25em;
        float: right;
    }

    a{
        text-decoration: none;
        color: #ffffff;
        span{
            font-weight: 700;
        }
    }
}
.footer {
    background-color: $moradoBase;
    color: #ffffff;
    padding: 2em 6em 1.5em;
    font-size: .5em;
    line-height: 0.7em;
    .left-text{
        margin: auto 0;
    }
    .icons-footer{
        text-align: center;
        display: block;
        margin: auto;
        img{            
            height: 2.5em;
        }
    }
}
.left-text{
    text-align: left;
}
.right-text{
    text-align: right;
}
//--------------------------------------------INDEX--------------------------------------------//
.nav-list{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li{
        margin: 0;
        padding: 0 .313em 0 .313em;
        display: inline-block;
        :hover{
            font-weight: 700;
        }
        a{
            margin: 0;
            padding: 0;
            text-decoration: none;    
            display: block;
            color: #ffffff;
        }
    }
}
.header{    
    background-image: url("../imgs/PuntoVioleta_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    position: relative;
    div{
        padding: 40vh 0 0 0;
        background: rgba(91, 43, 111, 0.3);
        position: absolute;   
        display: block;
        width: 100%;
        height: 100%;
        h2{
            font-weight: $regular;
            font-size: .938em;
            color: #ffffff;
        }
        h1{
            font-weight: 700;
            font-size: 3em;
        }
    } 
    section{
        padding: .938em;
        position: fixed;
        bottom: 0;
        left: 0;
        img{
            display: block;
            height: 1.5em;
            margin-top: .313em;
        }
    }
       
}
.btn-up{
    padding: .938em;
    position: fixed;
    bottom: 0;
    right: 0;
    img{
        display: block;
        height: 1.5em;
    }
}
.quienes-somos{
    margin: 0;
    padding: 2.5em 5em;
    h3{
        margin: 0;
        padding: 0;
        @include set_text("Raleway", $regular, .938em, $moradoBase);
    }
    p{
        margin: 0;
        padding: 0;
        @include set_text("Raleway", $regular, 0.5em, $moradoBase);
        line-height: 2em;
    }
    img{
        margin: 1em auto;
        padding: 0;
        width: auto;
        height: 1.5em;
    }
    .row{
        padding-bottom: 1em;
    }
    .col-4{
        margin: 0 auto;
        padding: .938em;
        width: 30%;
        background-color: $moradoMedio;
        border-radius: .8em;
    }
}
.testimonios{
    padding: 3em 1em;
    background-color: $moradoMedio;
    h2{
        margin: 0 0 1em;
        padding: 0;
    }
    .col-1{
        margin: auto;
        padding: 0;
        height: 100%;
        span{
            display: block;
            margin: auto;
            width: 2em;
            height: 2em;
        }
    }
    .col-4{
        margin: 0 auto;
        padding: .938em;
        width: 30%;
        background-color: $moradoClaro;
        border-radius: 1.5em;
        span{
            display: block;
            margin: 1em auto 0 auto;
            padding: 0;
            border-radius: 100%;
            width: 4em;
            height: 4em;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .row{
            p{
                font-size: .5em;
                margin: 0;
                padding-bottom: 4em;
            }
        }
    }
    .cita{
        display: block;
        margin: 2em 0;
        padding: 0;
        height: 30%;
        font-size: .5em;
        font-family: "Raleway";
        font-style: italic;
    }
}

.contacto{
    margin: 0;
    padding: 2.5em 5em;
    h3{
        font-size: .7em;
    }
    .col-6{
        margin: 0;
        padding: 0 1em;
        form{
            input{
                display: block;
                margin: .938em 0;
                padding: .1em .5em;
                @include set_text("Raleway", $regular, .7em, $moradoLetrasForm);
                background: none;
                border: .07em solid $moradoLetrasForm;
                border-radius: 1em;
                width: 100%;
                &:focus{
                    outline: none !important;
                    border: .07em solid $moradoBase;
                }
                &::placeholder{
                    @include set_text("Raleway", $regular, .8em, $moradoLetrasForm);
                }
            }
            textarea{
                display: block;
                margin: .938em 0;
                padding: .5em;
                @include set_text("Raleway", $regular, .7em, $moradoLetrasForm);
                background: none;
                border: .07em solid $moradoLetrasForm;
                border-radius: 1em;
                width: 100%;
                &::placeholder{
                    @include set_text("Raleway", $regular, .8em, $moradoLetrasForm);
                }
                &:focus{
                    outline: none !important;
                    border: .07em solid $moradoBase;
                }
            }
            button{
                display: block;
                margin: .938em 0;
                padding: .5em;
                @include set_text("Raleway", $regular, .7em, $moradoLetrasForm);
                background: $moradoMuyClaro;
                border: .07em solid $moradoLetrasForm;
                border-radius: 1em;
                width: 100%;
                text-transform: uppercase;
                &:hover{
                    @include set_text("Raleway", $bold, .7em, $moradoMuyClaro);
                    background: $moradoLetrasForm;
                }
            }
        }
        .card-contacto{
            margin: .65em 0 .938em;
            padding: 1em;
            background: $moradoMuyClaro;
            border-radius: 1em;
            height: fit-content;
            .row{
                margin: auto;
                height: fit-content;
                span{
                    display: inline-block;
                    margin: 0;
                    height: 1.5em;
                    width: 1.5em;
                }
                p{
                    font-size: .6em;
                    display: inline-block;
                    margin: auto 0;
                    width: fit-content;
                    height: fit-content;
                    color: $moradoLetrasForm;
                }
            }
        }
        .card-ubicacion{
            h3{
                margin: 0em 0 1em;
                text-align: left;
                width: 100%;
                @include set_text("Raleway", $bold, .7em, $moradoLetrasForm);
            }
            span{
                display: block;
                overflow: hidden;
                border-radius: 1em;
                img{
                    width: 100%;
                }
            }
        }
    }
}
.cards{
    color: $moradoBase;
    position: relative;
    p{
        text-align: left;
    }
    h1{
        padding: 2.5em 0 .5em;
        font-size: 1.5em;
        font-weight: $bold;
    }
    .container-cards{
        padding: 0 5em 2em;
        h2{
            @include set_text("Raleway", $bold, 1em, $moradoBase);
            text-align: left;
            padding: .25em 0 .5em;
        }
        p{
            @include set_text("Raleway", $regular, .5em, $moradoBase);
            text-align: left;
            padding: .5em 0;
        }
    }
}
.btn-repo{
    margin: 0 auto .5em;
    padding: .5em 1em;
    border: .1em solid $moradoMedio;
    border-radius: .7em;
    text-decoration: none;
    display: block;
    @include set_text("Raleway", $regular, .7em, $moradoBase);
    &:hover{
        background: $moradoMedio;
        @include set_text("Raleway", $bold, .7em, $moradoBase);
    }
}
.card-derechos{
    padding: .5em;
    margin: 0 .5em .5em 0;
    background: $moradoMedio;
    border-radius: .5em;
    width: 30%;
    .card-p{
        margin: 0;
        @include set_text("Raleway", $bold, .7em, $moradoBase);
        font-weight: 700 !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    img{
        margin: 1em auto;
        width: 35%;
    }
}
.card-galeria{
    padding: 0;
    margin: 0 .5em .5em 0;
    background: $moradoMedio;
    border-radius: .5em;
    width: 30%;
    overflow: hidden;
    .card-p{
        padding: 1em !important;
        margin: 0;
        @include set_text("Raleway", $bold, .7em, $moradoBase);
        font-weight: 700 !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    img{
        width: 100%;
    }
}
.temas-interes-header{
    margin: 0 auto;
    padding: 4em 8em 2em 8em;
    h1{
        font-size: 1.5em;
        font-weight: $bold;
    }
    p{
        margin: 2em 0;
        text-align: left;
        @include set_text("Raleway", $regular, .6em, $moradoBase);
    }
    .btn-repo{
        margin-right: 1em;
    }
}
.cards-temas-interes{
    margin: 0;
    padding: 0 4em;
    .col-6{
        margin: 0;
        padding: .7em .7em 0;
        div{
            margin: 0 0 1.5em;
            padding: 0;
            background: $moradoMedio;
            border-radius: .7em;
            overflow: hidden;
            h2{
                padding: .7em;
                background: $moradoBase;
                font-size: .938em;
                color: #ffffff;
                box-shadow: 0 .25em .625em rgba(0, 0, 0, 0.1);
            }
            div{
                margin: 0;
                padding: 1.5em;
                h3{
                    text-align: left;
                    @include set_text("Raleway", $bold, .7em, $moradoBase);
                }
                p{
                    text-align: left;
                    @include set_text("Raleway", $regular, .7em, $moradoBase);
                }
                hr{
                    margin: 0 auto 1em;
                    width: 70%;
                    height: 3px;
                }
            }
        }
    }
}
.row-card-colaborador{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 4em 2em;
    .card-colaborador{
        padding: 0;
        margin: .5em auto;
        border-radius: .5em;
        width: 45%;
        background:  #EAE0F0;
        img{
            margin: 1em auto;
            padding: 0;
            width: auto;
            height: 2em;
        }
        h2{
            font-size: .9em;
        }
        p{
            padding: .5em 1.5em;
            font-size: .6em;
        }
        .p-bold{
            font-weight: $bold;
        }
    }
}
.redes-comunitarias-header{
    margin: 0 auto;
    padding: 4em 8em;
    h1{
        font-size: 1.5em;
        font-weight: $bold;
        margin-bottom: 1em;
    }
    h2{

        text-align: left;
        font-size: 1em;
    }
    p{
        margin: 2em 0;
        text-align: left;
        @include set_text("Raleway", $regular, .6em, $moradoBase);
    }
    .btn-repo{
        margin-right: 1em;
    }
    .card-iniciativas{
        margin: 0;
        padding: 1.5em;
        border-radius: 1em;
        background: #EAE0F0;
        div{
            margin-top: .5em;
        }
        .col-6{
            padding: 0 1em;
        }
        h2{
            text-align: center;
        }
        p{
            margin: 0;
            text-align: center;
        }
        img{
            height: 1.5em;
            width: auto;
            margin: 1em auto;
        }
    }
}